.title{
    color: darkcyan;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.credits {
    color: silver;
    font-size: 10px;
    border-top: 1px groove silver;
    padding-top: 32x;
}
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}