body{
    margin-left: 2%;
 margin-right: auto;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: orangered;
    color: white;
}

.vier{
color: orangered;
font-size: 55px;
}

.credits{
    color: orangered;
    margin-left: 50%;
    font-size: 10px;
    border-top: 2px solid orangered;
}